.total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.container {
  height: 70vh;
}

.price {
  display: flex;
  align-items: center;
}

.items {
  overflow-y: auto;
  height: 40vh;
}